// Typography
$font-family: "Noto Sans TC", "Source Sans Pro", "Arial", sans-serif;
$font-size: 1.6rem;

$font-weight-normal: 400;
$font-weight-bold: 600;

$line-height: 1.8;

// Borders
$border-radius: 0.3rem;

// Grid
$col-margin: 0.5rem;

// Colors
$color-primary: #7CB342;
$color-secondary: #8492A6;

$color-light: #F9FAFC;
$color-dark: #1F2D3D;

$color-border: #E5E9F2;

$color-purple: #6500FF;
$color-blue: #03A9F4;
$color-red: #EF5350;
$color-yellow: #F9A825;
